<h1>New student</h1>

<form action='/students' method='post'>
  <p>
    <label>
    First name:
      <input type="text" name="first_name" />
    </label>
  </p>

  <p>
    <label>
    Last name:
      <input type="text" name="last_name" />
    </label>
  </p>

  <p>
    <label>
    House:
      <select name = "house_id" >

        <%for house in @houses%>
          <option value="<%=house.id%>" > <%=house.name%></option>
        <%end%>

      </select>
    </label>
  </p>

  <p>
    <label>
    Age:
      <input type="number" name="age" />
    </label>
  </p>

  <input type = "submit" value= "Add student"/>

</form>