body{
  background-image: url('http://cdn.wallpapersafari.com/17/90/x8J3mY.png');
  background-size: cover;
}


h1{
  font-family: papyrus;
  color: white;
}

p{
  font-family: papyrus;
  color: white;
}

a{
  font-family: papyrus;
  color: white;
  padding: 10px;
}